input {

	margin: 20px;
}

.pop-up {
	text-align: center;
}

.username {
	text-align: center;
	top: 30%;
}

.login {
	margin: auto;
}

#signin {
	text-align: center;

}

#log-btn {
	margin-top: 20px;
}

