#backdrop {

	/*background-color: #dbdbdb;*/
	background-image: url("grey-background.jpg");
	height: 630px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-bottom: 15%;
	padding-top: 30px;
	border-radius: 6px 6px;

}

#card {
	background-color: white;
	height: 540px;
}

#decline {
	float:left;
}
#accept {
	float: right;
}

.selector {
	width: 80%;

}

img {
	position: relative;
	top: 100px;
	height: 300px;
	width: 300px;
}