#activity {

<<<<<<< HEAD
	/*background-color: blue;*/
	background-image: url("background.jpg")
/*=======
	background-color: blue;*/
	height: 80%;
/*>>>>>>> 1ea653f3a0eb256ac8863b73729712c39f4db629*/

}

Tile {

	position: relative;
	top: 100px;
}